<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список инструментов</title>
</head>
<body>
<h1>Список инструментов</h1>
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Название</th>-->
<!--        <th>Описание</th>-->
<!--        <th>Цена</th>-->
<!--        <th>Изображение</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="instrument : ${instruments}">-->
<!--        <td th:text="${instrument.name}"></td>-->
<!--        <td th:text="${instrument.description}"></td>-->
<!--        <td th:text="${instrument.price}"></td>-->
<!--        <td th:text="${instrument.imageUrl}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>



